*.pyc
*.db
*~

/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*

venv/

/.vscode/
/.idea/
/.pytest_cache/
/__pycache__/
/.tox/
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*.sqlite3